<template>
    <div>
        <input type="text" v-model="price">
        <div>Tax {{ taxformatted }}</div>
        <div>Total {{ totalformatted }}</div>
        <div>Tax {{ moneyformat(tax) }}</div>
        <div>Total {{ moneyformat(total) }}</div>
    </div>
</template>

<script>
    export default {
        
        mounted() {
            
            console.log('Component mounted.')
        },

        data: function() {
            return {
                price: 100,
            }
        },

        methods: {
            moneyformat: function(price) {
                return '$' + price + '.00';
            },
        },


        computed: {
            tax: function(){
                return this.price * 0.1;
            },

            taxformatted: function () {
                return '$' + this.tax;
            },

            total: function(){
                return parseInt(this.price) + this.tax;
            },

            totalformatted: function(){
                return '$' + this.total;
            },
        },

    }
</script>

<style>

</style>