<template>
    <div>
        <ul>
            <li v-for="item in items">{{ item.text }} 
            <div v-if="item.checked">Checked!</div>
            <button @click="item.checked = ! item.checked">Toggle</button>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        
        mounted() {
            
            console.log('Component mounted.')
        },

        data: function() {
            return {
                items: [
                    { text:'item1', checked: true },
                    { text:'item2', checked: true },
                    { text:'item3', checked: false },
                ],
            }
        },

    }
</script>

<style>

</style>