<template>
    <div>
        <button :type="type" class="my-button" v-text="mytext.name" ></button>
    </div>
</template>

<script>
    export default {
        
        mounted() {
            
            console.log('Component mounted.')

            axios.post('api/vue',{})
                .then(response => {
                    this.mytext = response.data;
                });
        },

        //data: {mytext:null},

        data: function() {
            return {
                mytext: 'a',
                
            }
        },

        props:[
            'text',
            'type'
        ]
    }
</script>

<style>
    .my-button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        font-weight: bold;
    }
</style>