<template>
    <div>
        <h1 y-bind:title="menu">{{ title }}  </h1>

        <p v-text="content"></p>

        <input type="text" v-model="content"> 
    </div>
</template>

<script>
    export default {
        
        mounted() {
            
            console.log('Component mounted.')
        },

        //data: {mytext:null},

        data: function() {
            return {
                title: 'my title',
                content: 'here is my text',
                menu: 'my menu data here'
            }
        },
    }
</script>

<style>

</style>