<template>
    <div>
        <ul>
            <li v-for="todo in items">{{ todo }}</li>
        </ul>

        <input type="text" v-model="item">
        <button @click="items.push(item)">Add item</button>
    </div>
</template>

<script>
    export default {
        
        mounted() {
            
            console.log('Component mounted.')
        },

        //data: {mytext:null},

        data: function() {
            return {
                item: '',
                items: [
                    'item1',
                    'item2'
                ],
            }
        },

        props:[
            'text',
            'type'
        ]
    }
</script>

<style>

</style>